/*
 * TABLE OF CONTENTS
**/

* {
  font-family: Raleway;
}

/* Your Playlists section */
.your-playlists {
  font-weight: bold;
}
.your-playlists-all {
  width: 100%;
  max-width: 550px;
  line-height: 40px;
}
.your-playlists-all button {
  line-height: 24px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Analyze playlist buttons */
.playlist-analyze {
  float: right;
}
