/*
 * TABLE OF CONTENTS
**/

* {
  font-family: Raleway;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

/* Your Playlists section */
.your-playlists {
  font-weight: bold;
}
.your-playlists-all {
  width: 100%;
  max-width: 550px;
  line-height: 40px;
}
.your-playlists-all button {
  line-height: 24px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Analyze playlist buttons */
.playlist-analyze {
  float: right;
}

/* Analyze playlist header */
#playlist-name {
  border-bottom: 1px solid black;
}

/* Frequent Artists section */
#frequent-artists {
  padding-bottom: 20px;
}

#artist-count {
  width: 250px;
}

.container {
  padding-bottom: 20px;
}

#album-count {
  width: 600px;
}
